<!-- Footer Wrapper -->
<div>
    <footer class="footer">
        <i class="fab fa-instagram"></i></a>
        <i class="fab fa-facebook"></i></a>
        <i class="fab fa-twitter"></i></a>
        <p>&copy; Greenshoes 2020. All rights reserved</p>
    </footer>
</div>