<meta charset="UTF-8">
<div class=header>
    <h1>Green Shoes</h1>
    <h3> Shoes Warehouse</h3>
    <div class="logo">
        <i class="fas fa-shoe-prints"> </i> <alt="footprint">
    </div>
</div>