<meta charset="UTF-8">
<div class=header>
    <div class="logo">
        <i class="fas fa-shoe-prints"> </i> <alt="footprint">
            <h1>Green Shoes</h1>
        <h3> Shoes Warehouse</h3>
    </div>
</div>