<meta charset="UTF-8">

<header id="header" class="alt">
    <h1 id="logo"><a href="/"> Green shoes <span>& HTML5 UP</span></a></h1>
    <nav id="nav">
        <ul class=<%= webpage %>page>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/subscribe">Subscribe</a>
            </li>
        </ul>
    </nav>
</header>