<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/member">member</a></li>
    <button><a href="/subscribe">Subscribe</a></button>
</ul>