<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/members">Members</a></li>
    <li><a class="sub" href="/subscribers">Subscribe</a></li>
</ul>