    /*  gallery pictures */
    *body{
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin :auto;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  max-width: 1800px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 350PX;
    min-width: 350PX;
    min-height: 100%;
    border: 3px solid black; 
    border-radius: 1em;
    font-size:  12px;
   justify-content: center;
    text-align: center;
}


img {
 align-self: center;
 /* in order to have  full width of images */  
 min-width: 100%;
 min-height: 300px;
 max-height: 300px;
  object-fit: cover;
 
}

 body {
  margin: 0; 
  font-size: clamp(14px, 3vw, 22px);
  text-align: center;
  
}

.figcaption {

 justify-content: center;
 text-align: center;
}
