    /*  gallery pictures */
    * {
      box-sizing: border-box;
    }
    
    body {
      display: flex;
      margin: 0;
    
      height: 100vh;
    }
    
    .navigation {
      display: flex;
      background-color: black;
      color: white;
      height: 8em;
 
    }
    
    .navigation .nav {
      color: white;
    }
    
    .header {
      display: flex;
      color: white;
      text-align: center;
      background-color: black;
    }
    
    .header .logo {
      font-size: 3em;
      margin: 7px 0 0 22px;
    }
    
    .header .logo h1 {
      margin: 0; 
      font-size: 41px;
    }
    
    .header .logo h3 {
      margin: 0; 
      font-size: 16px;
    }
    
    .nav{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right:5px;
      padding:1em;
      list-style: none;
      gap: 1em;
    }
    
    .nav a {
      text-decoration: none;
      border-radius: 16px;
      border: 1px solid white;
      color: white;
      font-size: 23px;
      padding: 5px 27px 5px 27px;
    }
    
    .nav li a:hover {
      color:rgb(175, 25, 25);
    }
    
      
    
    .sub {
      background-color: grey;
    }



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
  background-color: black;
}

.gallery img {
  border-radius: 9px;
}

.gallery .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 5px solid rgb(255, 255, 255);  */
    border-radius: 1em;
   justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}




 body {
  margin: 0; 
  font-size: clamp(14px, 3vw, 22px);
  text-align: center;
  
}

.card .figcaption {
  font-size: 20px;
  color: white;
 justify-content: center;
 text-align: center;
}

.footer {
  display:flex;
 justify-content: center;
 align-items:center;
  color: white;
  background-color: black;
  width: 100vw;
}  