    /* limit the max width */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin :auto;
  gap: 0.7em;
  /* in order to  be responsive   */
  grid-template-columns: repeat(auto-fill, minmax(350px, 350px));

  /* to make a limitatin on the maximum width */
  max-width: 1800px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    max-width: 350PX;
    min-width: 350PX;
    min-height: 100%;
    border: 3px solid black; 
    border-radius: 1em;
    font-size:  12px;
   justify-content: center;
    text-align: center;
}


img {
 align-self: center;
 /* in order to have  full width of images */  
 min-width: 100%;
 min-height: 300px;
 max-height: 300px;
  object-fit: cover;
 
}

 body {
  margin: 0; 
  font-size: clamp(14px, 3vw, 22px);
  font-variant: small-caps;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.figcaption {
 font-size:  12px;
 justify-content: center;
 text-align: center;
}