/* home Page */

.hero {
  display: flex;
  min-height: 80vh;
  background-image: url(https://raw.githubusercontent.com/jgregorytweedie/cpnt262-final/master/public/images/gallery/greenshoes.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
  

/*Media Queries.*/
    @media (orientation: landscape) {
   section .home-home{
      flex-direction: row;

      width:100vw;
      min-height:100vh;
   }
 }
 
 @media (orientation: portrait) {
   body {
     flex-direction: column;

     width:100vw;
     min-height:100vh;
  }
     }
     @media screen and (max:400px) {
      header{
        max-width: 300px; 
         min-height:10vh;
         font-size: 15px;
      }
    }
