/* reset */
*{
  box-sizing: border-box;
  
}
 /* limit the max width */
.gallery{
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));  
  justify-items: center;
  margin: auto;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 450px;
  border: solid 3px rgba(0, 0, 0, 0.753);
}

.card img{
  height: 250px;
  object-fit: cover;
  min-width: 100%;
  object-fit: cover;
  
}

/* making it pretty */
.card figcaption{
  font-family: 'Domine', serif;
  font: size 15px;
}


.hero {
  display: flex;
  min-height: 80vh;
  background-image: url(../images/greenshoes.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
/* Text fields */
  .text-fields p {
    display: flex;

  }
  
  .text-fields p label {
    width: 10ch;
  }
  
  .text-fields p input {
    flex: 1;
    padding:1em 1em ;
     margin: auto ;
  }
  
  /* Checkboxes and Radio buttons */
  
  fieldset ul {
    margin-left: 2rem;
  }
  
  fieldset ul input {
    height: 1.5rem;
    width: 1.5rem;
  }
  
  /* Submit */
  
  .FOOTER {
    color: white;
    text-align: center;

    padding: 1em;
    margin-top: 1em;
  }
  button {
    font-size: 15px;
    padding: 1em;

   background-color:black ;
   color:white;
  }
  button:hover {
   background-color:thistle;
   color:black;
  }
  

/* Form reset */
fieldset {
  border: none;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid darkgrey;
}
 /*red stat */
abbr {
  color:red;
} 
.creating-account{
  background-color:rgb(19, 109, 101);
  color:white;
}