/* Navigation */
nav {
  display: flex;
  background-color:grey;
  border-bottom: 1px solid grey;
  min-height: 10vh;
}
nav ul {
  display: flex;
  gap: 1rem;
  margin: auto 2rem auto auto;
}

nav ul li {
  font-size: 1.5rem;
}

.my-logo {
  display:flex;
  align-items:left;
  text-align:left;
  color:white;
  padding-left: 1.5em;
  padding-bottom: 1.5em; 
  min-width: 50ch;
  font-size:35px;
  /*justify-content:center;*/
}

my-logo a:hover
{
  color:black;
  background-color:rgb(50, 102, 57);
}
/* footer */

 .footer {
    color: white;
    text-align: center;background-color: black;
    padding: 1em;
    margin-top: 1em;
  }
