*body{
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
    min-height:100vh;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border: solid 1px rgba(0, 0, 0, 0.753);
  min-width: 100%;
  object-fit: cover;
}

.card img{
  object-fit: cover;
  min-width: 100%;
}

/* making it pretty */
.card figcaption{
  font-size: 12px;
}
.card-container {
    display: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .card1, .card2, .card3 , .card4 {
<<<<<<< HEAD
<<<<<<< HEAD
      min-width: 40ch;
      max-width: 40ch;
      display: flex;
      flex-direction: column;
=======

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width:30px;
  max-width:30px;  
  min-height:70px;
  max-height:70px;
  border: solid 1px rgba(0, 0, 0, 0.753);
  min-width: 100%;
  object-fit: cover;
    background-positin:center;
>>>>>>> b32541377eb64b20096830c2bd1673f65d31b9a5
=======
  
      margin: 1em auto;
      min-width: 30ch;
      max-width: 30ch;
      min-height:70ch;
      max-height:70ch;
      display: flex;
      flex-direction: column;
>>>>>>> 50b366616f83026891f0e92d188049246863bc85
      background-color:hsla(0, 0%, 92%, 1);
      box-shadow:5px 5px 5px 1px hsla(0, 0%, 46%, 0.37);
      }

   .img-a,.img-b,.img-c {  
   width: 100%; 
   height: 40%;
   background-position: center;
   background-size: cover;
  }

   .info {
   margin:0  auto ;
  }


   p{  
   margin:auto;
   text-align: center;
   padding: 1em 1em;
  }

  

  .fab {
   display: flex;
   flex-wrap:wrap ;
   justify-content: center;
   justify-items: center;
   align-items:center;
    text-align: center;
    padding: 0.2em;
   background-color:black;
   font-size: 40px; 
   color:white;
  }

   .info {
   margin:0  auto ;
  }
