* {
  box-sizing: border-box;
}
body {
  /* display: flex; */
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   /* font-size: 15px; */
   height:100vh;
}

.navigation {
  display: flex;
  background-color: black;
  color: white;
  height: 8em;
  margin: 1 2 auto 11;
}

.navigation .nav {
  color: white;
}

.header {
  display: flex;
  color: white;
  text-align: center;
  background-color: black;
}

.header .logo {
  font-size: 3em;
  margin: 7px 0 0 22px;
}

.header .logo h1 {
  margin: 0; 
  font-size: 41px;
}

.header .logo h3 {
  margin: 0; 
  font-size: 16px;
}

.nav{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right:5px;
  padding:1em;
  list-style: none;
  gap: 1em;
}

.nav a {
  text-decoration: none;
  border-radius: 16px;
  border: 1px solid white;
  color: white;
  font-size: 23px;
  padding: 5px 27px 5px 27px;
}

.nav li a:hover {
  color:rgb(175, 25, 25);
}

  

.sub {
  background-color: grey;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}


figure img{
  width: 21em;
  height: 23em;
  min-width: 100%;
   /* Make each image have the same height */
}

/* making it pretty */
.card figcaption{
  font-size:  12px;
   text-align: center;
   
}
.card-container {
    display: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .card1, .card2, .card3 , .card4 {
  
      min-width: 350px;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      background-color:hsla(0, 0%, 92%, 1);
      box-shadow:5px 5px 5px 1px hsla(0, 0%, 46%, 0.37);
      }


   p{  
   margin:auto;
   text-align: center;
   
  }

  

  .icon .fab {
   display: flex;
   flex-wrap:wrap ;
   justify-content: center;
   justify-items: center;
   align-items:center;
    text-align: center;
    padding: 0.1em;
   background-color:black;
   font-size: 38px; 
   color:white;
   padding-top: 0.2em;
  }

   .info {
   margin:0  auto ;
    text-align: center; 
     font-size:  12px;
  }
