  /* Navigation */
  *body{
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
    min-height:100vh;
}


.nav{
  background-color:black;
  border: 1px solid white;
  color:white;
  position: absolute;
  right:5px;
  top:5px; 
  padding:1em;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 1em;
  font-size: 30px;
  padding-right: 1em;
}

nav ul {
  list-style-type: none;
 display:flex ;
 gap: 1em;
  margin: auto 1em auto auto;

 } 
nav ul li {
 text-align: center;
 font-size: 18px;
}
  
nav ul a {
 text-decoration: none;
  color: white;
 border: 1px solid gray;
 display: block;
  padding: 0.5em 1em;
}
nav ul a:hover {
 background-color:white;
  color:black;
}
nav ul a:active {
 background-color: green;
  color: black;
}
  
nav ul a.current {
 background-color:wheat;
 color:black;
}
  
