/* Subscribe page */

body {

  background-image: url('https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}



.wrapper {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin: 0;
}

/* Form */

.form {
  min-height: 40vh;
  margin: auto;
 
  display: flex;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

fieldset legend {
  margin:  1em auto auto auto;
  font-weight: bold;
  font-size: 14px;
}

fieldset p {
  display: flex;
  margin-bottom: 20px; 
}

fieldset p input, fieldset ul label {
  flex: 1;
  max-width: 45ch;
}

fieldset .required {
  color: red;
}

fieldset ul {
  display: flex;
  margin: 1em  auto;
  padding: 0;
}

fieldset ul input {
  width: 20px;
}

fieldset button {
  margin: 5px auto;
}

.check-box {
display: flex;
justify-content: center;
list-style-type: none;

}

/* Button with hover and active states */

  /* subscribe */

main {
padding-top: 10rem;  
margin: 0 auto; 
width: 30em;
background-color: rgb(160, 160, 160);
}

.signup h1{
  -webkit-text-stroke: .5px black;
  color: white;
  text-shadow: 1px 3px 2px #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  font-family: 'Oswald', sans-serif;
  font-size:47px;
}

.tagline {
  font-family: 'Fjalla One', sans-serif;

  display: flex;
  justify-content: center;
  font-size: 25px;
}

.textfield p input{
  display: inline-block;
  font-size: 18px;
  margin-bottom: 20px;
  
  font-family: 'Oswald', sans-serif;
}

.textfield p label {
  width:180px;
  clear:left;
  text-align:right;
  padding-right:10px;
  
  font-family: 'Fjalla One', sans-serif;
}

abbr{
  color: red;
}

button:active {
  transform: scale(1);
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  padding: 0.2rem;
  border: 2px solid black;
  cursor: pointer;
}
form button:hover{
  background-color: black;
  color: red; 
  border: 1px solid red;
}

/* Height of the footer */

.footer {
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;  
  }



