<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

        
    <!-- css-->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="./public/assets/css/gallery.css">
    <!-- Javascript-->
    <script type="Module" src="assets/js/client.js"></script>
</head>

<body class="is-preload">
    <div id="page-wrapper">
        <!-- Header -->
        <%- include('../partials/header'); %>
        <!-- Nav -->
        <%- include('../partials/nav'); %>
        <!-- Main -->
        <main class="gallery">
            <!-- Gallery will go here -->
        </main>
        <!-- Footer -->
        <%- include('../partials/footer'); %>

    </div>
</body>

</html>