<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://github.com/jgregorytweedie/cpnt262-final/public">
    <!-- Google Fonts Link -->
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap" rel="stylesheet">


    <!-- css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="./assets/css/members.css">
    <link rel="stylesheet" href="./assets/css/nav.css">
    <link rel="stylesheet" href="./assets/css/subscrib.css">
    <link rel="stylesheet" href="./assets/css/gallery.css">



</head>

<body>
    <!--  header and Navbar -->
    <header>
        <div class="wrapper">
            <section class="logo">

                <div class="header">
                    <!-- Header -->
                    <%- include('../partials/header'); %>

                    <!-- Nav -->
                  
                    <%- include('../partials/nav'); %>
                </div>
                <!-- GALLERY - ivan -->
                <main class="gallery">
                
                </main>
            </section>
       </div>
  </header>

<body>
    <!-- Main -->
   <main class="gallery">

    </main>
</body>

  <!-- Footer -->
     <%- include('../partials/footer'); %>
         
 <script type="module" src="assets/js/client.js"></script>

</body>
  </html>