
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

</head>

<body>
    <!-- hero section -->
    <section class="header">
        <%- include('../partials/header'); %>

        <!-- nav bar  -->
        <%- include('../partials/nav'); %>
    </section>

    <section class="content">
        <!-- at least one page (viewport) of content -->
        <h3> Here is our gorgeous products...</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus? Perferendis, animi?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus? Perferendis, animi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus? Perferendis, animi?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus? Perferendis, animi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus? Perferendis, animi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolorem illum totam laborum. Modi
            obcaecati cum repudiandae, sequi voluptatibus sed minima voluptatem reiciendis, repellat, unde adipisci
            error accusamus.</p>
        <!-- make it sticky -->
        <div class="push"></div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer'); %>
    <script type="module" src="js/client.js"></script>
</body>