<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://github.com/jgregorytweedie/cpnt262-final/public">
    <!-- Google Fonts Link -->
    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap" rel="stylesheet">


    <!-- css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="./assets/css/members.css">
    <link rel="stylesheet" href="./assets/css/subscrib.css">
    <link rel="stylesheet" href="./assets/css/gallery.css">
    <link rel="stylesheet" href="./assets/css/nav.css">


</head>

<body>
<!--  header ,hero section and Navbar -->
<header>
 <div class="wrapper">
        <section class="logo">

    <div class="header">
        <!-- Header -->
        <%- include('../partials/header'); %>

        <!-- Nav -->
      
        <%- include('../partials/nav'); %>
    
    </div>
    </section>
</div>
</header>
<main>

        <section class="herosection">
        
            <div class="container">
                <h1> Handcrafted to perfection</h1>
                <br>
                <h3>We understand the importance of good looking shoes. We also understand the importance of making good looking shoes affordable, So we made our shoes with both.</h3>
            </div>

        </section>


      


        <!-- Long form text -->
        <section id="text-content">
            <div class="text-container">
                <article class="Article">
    

                        <h1> Who we are </h1>
                        <p> Green shoes Warehouse ever since 1904 has been making fantastic, and affordable shoes to fit any occassion. The company has been passed down through generations, with each generation perfecting the art further more.</p>
                        <br>
                        <h1> Our Mission </h1>
                        <p> A lot of "big shot" companies like to make cheap shoes at the expense of ethical labour practices. The ethics of our warehouse is our top priority.</p>
                        <br>
                        <h1> Affordable, Durable. </h1>
                        <p> Our shoes are made out of only the best material that is fashionable, and that can last a long time. We know the pain of buying new fancy shoes and have them run down within 3 months. Our shoes are affordable, fashionable, and extremely durable. It's that simple.</p>
                        <br>
                        </P>
                 </article>
            </div>
        </section>
        </main>
        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body> 
</html>



  